@font-face {
  font-family: "Averia";
  src: url("/Fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf");
}

@font-face {
  font-family: "Compagnon";
  src: url("/Fonts/Compagnon-LightItalic.otf");
}

@font-face {
  font-family: "PopstarsFill";
  src: url("/Fonts/POPSF___.TTF");
}

@font-face {
  font-family: "Popstars";
  src: url("/Fonts/POPSTARS.TTF");
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: url("/Images/blinkje6.png"), auto;
  overflow-y: hidden;
}

.alles {
  min-height: 90vh;
  background-image: url("/Images/scansBoekjesWeb_3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-family: "Averia";
}

.boekje {
  width: 59%;
  height: 90vh;
  rotate: 1deg;
}

.text-row {
  font-size: 10px;
  top: 20vh;
  color: black;
  font-family: "Averia";
  text-align: left;
  text-decoration: dotted;
  display: flex;
  justify-content: flex-start;
}

.topper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Popstars";
  font-size: 100%;
  margin-top: 2%;
}

#left {
  text-align: center;
  width: 50%;
}

#left a {
  font-family: "Popstars";
  display: inline-block;
  position: relative;
  z-index: 1;
}

#right {
  font-family: "Popstars";
  text-align: center;
  width: 50%;
}

.language .text-row {
  font-family: "Averia", serif;
  font-size: 10px;
  width: 4vh;
}

.header p {
  font-family: "Popstars";
  font-size: 50px;
  display: flex;
  justify-content: center;
  line-height: normal;
  text-align: center;
  margin: 8%;
  color: black;
}

.content {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin-left: 0%;
}

.textLeft {
  width: 45%;
}

.inhoud {
  font-family: "Averia";
  font-size: 13px;
  line-height: 14px;
  color: black;
}

.subtitle {
  position: initial;
  color: black;
  display: flex;
  height: 12%;
  p {
    font-family: "PopstarsFill";
    font-size: 30px;
  }
}

.textRight {
  margin-left: 0vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ster2 {
  width: 30%;
  margin-left: 25%;
}

.ster1 {
  margin-top: 5%;
  margin-left: 25%;
  z-index: 1;
  width: 35%;
  position: relative;
}

.blinkje7 {
  width: 30px;
  margin-left: -9vh;
  margin-top: 2vh;
  position: fixed;
}

.arrows {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 50%;
  width: 90%;
  left: 10vh;
  background: transparent;
}

.arrowButton {
  width: 30px;
  height: 30px;
  color: black;
  font-size: 50px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  background: transparent;
}

.arrowButton a {
  text-decoration: none;
}

.klikMeer {
  font-family: "Averia";
  font-size: 12px;
  margin-top: 1%;
}

a {
  position: relative;
  text-decoration: wavy;
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  color: black;
}

.arrowButton:hover,
.text:hover,
#left a:hover,
a:hover {
  animation-name: buttons;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

a:hover {
  animation-name: buttons;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* .language .text-row {
  font-family: "Averia", serif;
  font-size: 10px;
  width: 10vh;
  margin-top: -1.5vh;
  margin-left: 1.5vh;
} */

.language a {
  display: inline-block;
}

@keyframes buttons {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(4deg);
  }

  75% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1000px) {
  .alles {
    background-image: url("/Images/paper.png");
    background-size: cover;
    margin-top: 0%;
    overflow-y: scroll;
  }

  .topper {
    display: none;
  }

  .subtitle {
    font-family: "PopstarsFill";
    font-size: 30px;
    line-height: 35px;
    height: 0%;
    color: black;
  }

  html,
  body,
  #root {
    overflow-y: scroll;
  }

  .ster2 {
    margin-top: 4%;
  }

  .boekje {
    rotate: 0deg;
    overflow-y: scroll;
    width: 80%;
  }

  .content {
    flex-direction: column;
    width: 100%;
  }

  .inhoud {
    width: 100%;
    margin-top: -5%;
  }

  .textLeft,
  .textRight {
    width: 100%;
  }

  .ster1,
  .blinkje7 {
    display: none;
  }

  .arrows {
    display: none;
  }
}
