@font-face {
  font-family: "Averia";
  src: url("/Fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf");
}

@font-face {
  font-family: "Compagnon";
  src: url("/Fonts/Compagnon-LightItalic.otf");
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: url("/Images/heart.png"), auto;
}

.alles {
  min-height: 90vh;
  background-image: url("/Images/scansBoekjesWeb_5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.contentWrapper {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 3%;
}

.text {
  font-size: 10px;
  top: 20vh;
  color: black;
  font-family: "Averia";
  text-align: left;
  text-decoration: dotted;
}

.text-row {
  display: flex;
  justify-content: flex-start;
}

.dots {
  font-family: "Averia";
  font-size: 10px;
}

.page {
  font-family: "Averia";
  font-size: 10px;
}

.decoratie {
  margin-top: 5vh;
  margin-left: 8vh;
}

.naamtekening {
  display: flex;
  flex-direction: row;
  gap: 15%;
  img {
    width: 10vh;
  }
}

.Inhoudstafel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  width: 45%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  .instagram {
    width: 3vh;
  }

  .facebook {
    width: 3vh;
  }
}

@keyframes buttons {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(4deg);
  }

  75% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.tekeningInhoudstafel img {
  margin-top: 2vh;
  margin-left: 10vh;
  width: 30vh;
}

.hoi img {
  margin-top: 5vh;
  margin-left: 10vh;
  width: 35vh;
}

.Inleiding {
  display: inline-block;
  width: 45%;
  font-family: "Compagnon";
  font-size: 7px;
}

.adrestekening {
  display: flex;
  flex-direction: column;

  img {
    width: 30%;
    margin-top: 3%;
  }
}

.vriendenboekje {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Compagnon";
}

.question h1 {
  font-size: 15px;
  color: black;
  font-family: "Compagnon";
}

.antwoord {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
}

.Inleiding .Logo {
  width: 9vh;
}

.Inleiding .birthday {
  width: 16vh;
}

.Inleiding .mail {
  width: 70%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.Inleiding .adres {
  width: 24vh;
}

.arrows {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  bottom: 50%;
  width: 100%;
  margin-left: 0%;
  background: transparent;
}

.arrowButton {
  width: 30px;
  height: 60px;
  color: black;
  font-size: 50px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  background: transparent;
  a {
    text-decoration: none;
  }
}

a {
  text-decoration: wavy;
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  position: relative;
  color: black;
}

a:hover {
  animation-name: buttons;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.diamond {
  width: 40vh;
  margin-left: 5vh;
}

@media (max-width: 1000px) {
  .alles {
    background-image: url("/Images/paper.png");
    background-size: cover;
  }

  .Inhoudstafel {
    visibility: hidden;
  }

  .contentWrapper {
    margin-top: 5%;
  }

  .Inleiding {
    width: 100%;
    margin-left: -45%;
    display: flex;
    align-items: center;
  }

  .arrows {
    visibility: hidden;
  }
}
