@font-face {
  font-family: "Averia";
  src: url("/Fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf");
}

@font-face {
  font-family: "Compagnon";
  src: url("/Fonts/Compagnon-LightItalic.otf");
}

@font-face {
  font-family: "Chalkboard";
  src: url("/Fonts/Chalkboard.ttc");
}

@font-face {
  font-family: "Pixels";
  src: url("/Fonts/SHPinscher-Regular.otf");
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: url("/Images/mouse.png"), auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

.alles {
  min-height: 90vh;
  width: 100vw;
  background-image: url("/Images/scansBoekjesWeb_5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.belangrijk {
  font-family: "Averia";
  font-size: 10px;
  position: absolute;
  margin-left: 1.5vh;
}

.header {
  margin-bottom: 0;
  text-align: center;
}

.header p {
  font-family: "Pixels";
  font-size: 55px;
  margin-top: 2vh;
  margin-bottom: 0;
}

.boekje {
  margin-top: 2%;
  width: 58%;
  height: 100%;
}

.iframe {
  width: 95%;
  height: 120%;
}

.text-row {
  font-size: 10px;
  top: 200px;
  color: black;
  font-family: "Averia";
  text-align: left;
  text-decoration: dotted;
}

.topper {
  display: flex;
  rotate: 1deg;
  width: 100%;
  justify-content: space-between;
  font-family: "Pixels";
  font-size: 100%;
}

.left {
  text-align: center;
  width: 50%;
  font-family: "Pixels";
}

.left a {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-family: "Pixels";
}

.right {
  text-align: center;
  width: 50%;
  font-family: "Pixels";
}

.pages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.rightPage {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 2%;
}

.rightPage .mond {
  position: relative;
  width: 10%;
  margin-left: 75%;
  rotate: 35deg;
}

.rightPage .disco {
  position: relative;
  width: 80%;
  margin-top: 20%;
}

.blinkje2 {
  position: fixed;
  margin-top: 42%;
  margin-left: 20%;
  width: 3%;
}

.leftPage {
  width: 45%;
  height: 110%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Pixels";
  h2 {
    font-family: "Pixels";
  }
}

.myAlbum {
  font-family: "Pixels";
  margin-left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 2%;
}

.iframeContainer {
  position: relative;
  width: 99%;
  height: 400px;
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 20px;
}

.googleIframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
}

.fullscreenButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
}

.openTabButton {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Pixels";
  font-size: 12px;
}

#myAlbum p {
  font-family: "Pixels";
}

.leftPage::-webkit-scrollbar {
  width: 9px;
}

.arrows {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 50%;
  width: 90%;
  left: 10vh;
  background: transparent;
}

.arrowButton {
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: black;
  font-size: 50px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.arrowButton a {
  text-decoration: none;
}

a {
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  position: relative;
  color: black;
}

.arrowButton:hover,
.text:hover,
#left a:hover,
.button button:hover,
.language a:hover,
.myAlbum p:hover,
.Content p:hover {
  animation-name: buttons;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.text-row {
  display: flex;
  justify-content: flex-start;
}

a {
  text-decoration: wavy;
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  position: relative;
  color: black;
}

.language a {
  display: inline-block;
}

@keyframes buttons {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(4deg);
  }

  75% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1000px) {
  .alles {
    background-image: url("/Images/paper.png");
    background-size: cover;
  }

  .topper {
    visibility: hidden;
  }

  .mond {
    display: none;
  }

  .pages {
    flex-direction: column;
    margin-top: 0%;
  }

  .googleIframe,
  .iframeContainer {
    height: 230px;
  }

  .leftPage,
  .rightPage {
    width: 100%;
  }

  .rightPage {
    height: 15%;
    padding-bottom: 15%;
  }

  .arrows {
    display: none;
  }

  /* Reduce subtitle spacing in Behold widget */
  [data-behold-id] .behold-post-caption,
  [data-behold-id] .behold-post-text,
  [data-behold-id] .behold-caption,
  [data-behold-id] .behold-subtitle {
    line-height: 1.1 !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    padding: 0 !important;
    max-width: 100% !important;
    word-wrap: break-word !important;
  }

  [data-behold-id] .behold-post {
    margin-bottom: 10px !important;
  }
}
